<h1>View Device</h1>
<% include helper.html %>
<div class="ui equal width grid">
  <div class="four wide column">
    <img class="ui wireframe image" src="/images/missing.png">
  </div>
  <div class="twelve wide column">
    <% if(device) { %>
      <p><%= device.name %></p>
      <p><%= getLabel(display.brand, device.brand) %></p>
      <p><%= device.model %></p>
      <p><%= getLabel(display.os, device.os) %></p>
      <p><%= getLabels(display.users, device.users) %></p>
      <p><%= device.date %></p>
    <% } %>
  </div>
</div>

