<% getLabel = function(arrayHash, value) {
  return value && arrayHash.find(function(item) {
    return item.value == value
  }).label;
} %>

<% getLabels = function(arrayHash, value) {
  if (Array.isArray(value)) {
    entries = value.map(function(v) {
      return getLabel(arrayHash, v);
    })
    return entries ? entries.join(', ') : value.join(', ');
  } else {
    return getLabel(arrayHash, value);
  }
} %>

<% getValue = function(value) { return value || '' } %>
<% getPhotoUrl = function(value) { return value.path || "/images/missing.png"; } %>
<% getPhotoName = function(value) { return value.filename || "No file selected"; } %>
