<html>
  <head>
    <title>BeanieX</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/semantic.css" />
    <link rel='stylesheet prefetch' href='/icon.min.css'>
    <link rel="stylesheet" type="text/css" href="/application.css" />
    <script type="text/javascript" src="/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/moment.min.js"></script>
    <script type="text/javascript" src="/daterangepicker.js"></script>
    <script type="text/javascript" src="/semantic.js"></script>
  </head>
  <body>
    <main>
      <nav class="ui fixed inverted menu">
        <div class="ui container">
          <a href="/devices" class="header item"><i class="big home icon"></i>Beanie</a>
        </div>
      </nav>
      <div class="ui main text container">
        <h3>body</h3>
        <%- body %>
      </div>
      <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
          © 2016 Copyright. Beanie v0.1. This website is not responsive nor mobile friendly.
        </div>
      </div>
    </main>
  </body>
</html>