<html>
  <head>
    <title>koa ejs</title>
    <link rel="stylesheet" type="text/css" href="/semantic.css" />
  </head>
  <body>
    <nav class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item"><i class="material-icons">home</i>Beanie</a>
      </div>
    </nav>
    <div class="ui main text container">
      <h3>body</h3>
      <%- body %>
    </div>
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        © 2016 Copyright. Beanie v0.1. This website is not responsive nor mobile friendly.
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/semantic.js"></script>
  </body>
</html>