<h1>Device Listing</h1>

<a class="ui teal labeled icon button" id='link-add' href="/devices/new">Add New Device<i class="large add icon"></i></a>
<% include helper.html %>
<table class="ui celled table" id="device-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Operating System</th>
    <th>Users</th>
    <th>Date</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>
  <% devices.forEach(function(device, index){ %>
    <% row = index +1 %>
    <tr id=<%= `row-${row}` %> >
      <td id=<%= `col-name-${row}` %>><%= device.name %></td>
      <td id=<%= `col-brand-${row}` %>><%= getLabels(display.BRANDS, device.brand) %></td>
      <td id=<%= `col-model-${row}` %>><%= device.model %></td>
      <td id=<%= `col-os-${row}` %>><%= getLabel(display.OS, device.os) %></td>
      <td id=<%= `col-users-${row}` %>><%= getLabels(display.USERS, device.users) %></td>
      <td id=<%= `col-date-${row}` %>><%= device.date %></td>
      <td id=<%= `col-view-${row}` %>><a href=<%= `/devices/${device.id}` %> ><i class="large file text outline icon"></i></a></td>
      <td id=<%= `col-edit-${row}` %>><a href=<%= `/devices/${device.id}/edit` %>><i class="large write icon"></i></a></td>
      <td id=<%= `col-delete-${row}` %>><a class="link-delete" onclick="return confirm('Are you sure you want to delete?')" href="<%= `/devices/${device.id}/delete` %>" ><i class="large trash icon"></i></a></td>
    </tr>
  <% }) %>
  </tbody>
</table>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
   Delete entry!
  </div>
  <div>
    Are you sure?
  </div>
  <div class="actions">
    <div class="ui cancel button">Cancel</div>
    <a class="ui button approve"><i class="large trash icon"></i></a>
  </div>
</div>
